{# /templates/parent.html.twig #}
<!DOCTYPE html>
<html lang="fr">
<head>
    {% include 'components/head.html.twig' %}
</head>
<body id="page-top">

{% include 'components/header.html.twig' %}

{% block contenuPrincipal %}
    Contenu du body
{% endblock %}

{% include 'components/footer.html.twig' %}

{% block javascripts %}{% endblock %}

<!-- Bootstrap core JS-->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<!-- ContactController form JS-->
<script src="assets/mail/jqBootstrapValidation.js"></script>
<script src="assets/mail/contact_me.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

</body>
</html>