{% extends 'base.html.twig' %}

{% set adminHeader %}
    <span class="font-weight-bold">Mode administrateur</span>
    <div class="ml-auto">
        <a class="btn btn-outline-light border-0 px-2 py-1" href="/blog/edit-post"><i class="material-icons-outlined">add</i></a>
    </div>
{% endset %}

{% block contenuPrincipal %}
    {% if app.connected %}
        {% set adminHeaderDisplayedClass = 'admin-header-displayed' %}
    {% endif %}

    <header class="masthead {{ adminHeaderDisplayedClass }} bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <h1 class="masthead-heading text-uppercase">Blog</h1>
            <p class="masthead-subheading font-weight-light mt-4 mb-0">Retrouvez mes dernières actualités</p>
        </div>
    </header>

    <section class="page-section">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-5">Les derniers articles</h2>
            {{ element('posts', posts) }}
        </div>
    </section>
{% endblock %}