{% extends 'base.html.twig' %}

{% set adminHeader %}
    <span class="font-weight-bold">Mode administrateur</span>
    <div class="ml-auto">
        <a class="btn btn-outline-light border-0 px-2 py-1" href="/blog/edit-post"><i class="material-icons-outlined">add</i></a>
    </div>
{% endset %}

{% block contenuPrincipal %}

    {% if app.connected %}
        {% set adminHeaderDisplayedClass = 'admin-header-displayed' %}
    {% endif %}

    <!-- Masthead-->
    <header class="masthead {{ adminHeaderDisplayedClass }} bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase">Blog</h1>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mt-4 mb-0">Retrouvez mes dernières actualités</p>
        </div>
    </header>


    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">

            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-5">Les derniers articles</h2>
            <!-- Portfolio Grid Items-->
            <div class="row justify-content-center">
                {% for post in posts %}
                    <!-- Item -->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                            <a href="/blog/{{ post.slug }}">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i
                                                class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/assets/img/portfolio/cabin.png" alt="..."/>
                                <div>{{ post.title }}</div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {# <script src="build/produit.js" /> #}
{% endblock %}