{% extends 'base.html.twig' %}

{% block titre %}Contact{% endblock%}

{% block contenuPrincipal %}

    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">Contact</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">Vous avez besoin d'un renseignement ou d'un devis ? C'est par ici !</p>
        </div>
    </header>

    <!-- Contact Section-->
    <section class="page-section" id="contact">
        <div class="container">
            <!-- ContactController Section Form-->
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    {{ form(formContact) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}