{% extends 'base.html.twig' %}

{% block contenuPrincipal %}
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <h1 class="masthead-heading text-uppercase mb-0">Contact</h1>
            {% include 'components/divider.html.twig' %}
            <p class="masthead-subheading font-weight-light mb-0">Vous avez besoin d'un renseignement ou d'un devis ? C'est par ici !</p>
        </div>
    </header>

    <section class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    Votre message a bien été envoyé. Merci.
                </div>
            </div>
        </div>
    </section>
{% endblock %}