{# /templates/post.html.twig #}
{% extends 'base.html.twig' %}

{% block contenuPrincipal %}

    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Heading-->
            <h1 class="dfree-title masthead-heading text-uppercase mb-0">{{ post.title }}</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="dfree-desc masthead-subheading font-weight-light mb-0">{{ post.desc }}</p>
        </div>
    </header>

    <div class="container-fluid bg-info p-4 text-white d-flex justify-content-center">
        <div class="container">
            Test
        </div>
    </div>

    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            {% if app.connected %}
                <p>
                    <a class="btn btn-outline-primary bt" href="/blog/edit-post/{{ post.slug }}">Sauvegarder</a>
                </p>
            {% endif %}
            <div class="dfree-content">
                {{ post.content|raw }}
            </div>
        </div>
    </section>
{% endblock %}