{% extends 'base.html.twig' %}

{% block contenuPrincipal %}
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <h1 class="masthead-heading text-uppercase mb-0">Erreur 404</h1>
            {% include 'components/divider.html.twig' %}
            <p class="masthead-subheading font-weight-light mb-0">La page n'a pas été trouvée</p>
        </div>
    </header>

    <section class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    {{ error|raw }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}