{# /templates/login.html.twig #}
{% extends 'parent.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="produit.css" type="text/css" media="all" />
{% endblock%}

{% block contenuPrincipal %}

    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">Accès limité</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">Veuillez vous identifier</p>
        </div>
    </header>

    <!-- Contact Section-->
    <section class="page-section" id="contact">
        <div class="container">
            <!-- Contact Section Form-->
            <div class="row">
                <div class="col-lg-8 mx-auto">
{#                    {{ dump(formContact) }}#}
                    {{ form(formLogin) }}
{#                    {% include 'components/form.html.twig' with form %}#}
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block javascripts %}
    {# <script src="build/produit.js" /> #}
{% endblock %}