<footer class="footer text-center">
    <div class="container">
        <div class="row">
            {# Footer Location #}
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Localisation</h4>
                <p class="lead mb-0">
                    Brétignolles-sur-mer,
                    <br />
                    Vendée, France
                </p>
            </div>
            {# Footer Social Icons #}
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Suivez-moi</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/romainroyer/" target="_blank"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/romain.royer/" target="_blank"><i class="fab fa-fw fa-instagram"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/RomainRoyerOff/" target="_blank"><i class="fab fa-fw fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/romainroyeroff" target="_blank"><i class="fab fa-fw fa-twitter"></i></a>
            </div>
            {# Footer About Text #}
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">À propos</h4>
                <p class="lead mb-0">
                    Passionné d'informatique depuis très jeune, je suis actuellement en formation chez Openclassrooms
                </p>
            </div>
        </div>
    </div>
</footer>

<div class="copyright py-4 text-center text-white">
    <div class="container">
        <small>
            Copyright &copy; Romain Royer
            {# auto add the current year #}
            <script>
                document.write(new Date().getFullYear());
            </script>
            <a class="ml-2" href="/mentions-legales">Mentions légales</a>
            {% if app.connected %}
                <a class="ml-2" href="/logout">Se déconnecter</a>
            {% else %}
                <a class="ml-2" href="/login">Se connecter</a>
            {% endif %}
        </small>
    </div>
</div>