{% if(type == 'text') %}
<div class="control-group">
    <div class="form-group floating-label-form-group controls mb-0 pb-2">
        <label>Identifiant</label>
        <input class="form-control" id="id" type="text" placeholder="Identifiant" required="required" data-validation-required-message="Please enter your name." />
        <p class="help-block text-danger"></p>
    </div>
</div>
{% elseif(type == 'textarea') %}
<div class="control-group">
    <div class="form-group floating-label-form-group controls mb-0 pb-2">
        <label>Mot de passe</label>
        <input class="form-control" id="password" type="password" placeholder="Mot de passe" required="required" data-validation-required-message="Please enter your email address." />
        <p class="help-block text-danger"></p>
    </div>
</div>
{% endif %}