<meta charset="UTF-8">
<title>{{ headTitle }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico" />
<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
<link href="/css/styles.css" rel="stylesheet" />
<link href="/css/custom-styles.css" rel="stylesheet" />

<script src="https://cdn.tiny.cloud/1/cr2ue2keuieny7quppsnrte6af6dzuyaohw1wepi4ln79uq8/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script src="/js/tinymce-custom.js"></script>