.text-grey {
    color: #bfbfbf;
}

.bg-grey {
    background-color: grey;
}

.material-icons-outlined {
    vertical-align: inherit;
}

#mainNav img.profile {
    margin: -40px -20px -40px 0;
}

#adminNav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#adminNav.navbar-shrink {
    padding-top: 3px;
    padding-bottom: 3px;
}

.masthead.admin-header-displayed {
    padding-top: 158px;
    padding-bottom: 0;
}

.masthead.admin-header-displayed div.container {
    position: relative;
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-size: cover;
    background-position: center;
}

/* file selector */
#featured-image-selector {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.masthead.admin-header-displayed div.container:hover #featured-image-selector {
    display: block;
}

#featured-image-selector i {
    font-size: 42px;
    cursor: pointer;
    padding: 6px;
}

#featured-image-selector input {
    display: none;
}
/* end file selector */

.comment {
    margin: -10px;
    padding: 10px;
    border-radius: 8px;
}

.comment.admin:hover {
    background: #f9f9f9;
}

@media (max-width: 992px) {
    .masthead.admin-header-displayed {
        padding-top: 129px;
        padding-bottom: 0;
    }

    .masthead.admin-header-displayed div.container {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

