.mce-content-body[data-mce-placeholder]:not(.mce-visualblocks)::before {
    position: relative!important;
    width: max-content;
    -webkit-transform-origin-x: center;
}

.text-grey {
    color: #bfbfbf;
}

.bg-grey {
    background-color: grey;
}

.material-icons-outlined {
    vertical-align: inherit;
}

#mainNav img.profile {
    margin: -40px -20px -40px 0;
}

#adminNav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#adminNav.navbar-shrink {
    padding-top: 3px;
    padding-bottom: 3px;
}

.masthead {
    padding-top: 104px;
    padding-bottom: 0;
}

.masthead.admin-header-displayed {
    padding-top: 158px;
}

.masthead div.container {
    position: relative;
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-size: cover;
    background-position: center;
}

/* file selector */
#featured-image-selector {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.masthead.admin-header-displayed div.container:hover #featured-image-selector {
    display: block;
}

#featured-image-selector i {
    font-size: 42px;
    cursor: pointer;
    padding: 6px;
}

#featured-image-selector input {
    display: none;
}
/* end file selector */

/* post page */
.comment {
    margin: -10px;
    padding: 10px;
    border-radius: 8px;
}

.comment.admin:hover {
    background: #f9f9f9;
}
/* end post page */

/* edit post page */
#form-edit-post{
    display: none;
}
/* end edit post page */

/* post item */
.post-item a{
    color: #117964;
}
.post-item a:hover{
    text-decoration: inherit;
    color: #608cce;
}
.post-item .img-fluid{
    border-radius: 8px;
}
.post-item .updated-date{
    color: #117964a6;
}
.post-item a:hover .updated-date{
    color: #114e79a6;
}
/* end post item */

@media (max-width: 992px) {
    .masthead {
        padding-top: 75px;
    }

    .masthead.admin-header-displayed {
        padding-top: 129px;
    }

    .masthead div.container {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

