<form method="POST" {{ biggerClass|raw }}>
    {% for partName,partForm in form.parts %}
        {% include 'form/'~className(partForm)~'.html.twig' with {'name': partName, 'formType': partForm} only %}
    {% endfor %}
</form>
