{% if (comments) %}
    <p class="font-italic mb-4">Du plus récent au plus ancien</p>
    <div>
        {% for comment in comments %}
            {% include 'comments/comment.html.twig' with {'comment': comment} only %}
        {% endfor %}
    </div>
{% else %}
    <p class="font-italic">Aucun commentaire, soyez le premier à laisser le votre.</p>
{% endif %}